<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.anh724.cordova.plugin.videorecordpreview"
        version="1.0.0dev">

    <name>VideoRecordPreview</name>

    <description>The purpose of the plugin is to create an platform independent javascript interface for Cordova based mobile applications to record&preview of the video using camera on android, iOS platform.</description>
    <repo>https://github.com/dantesanh724/cordova-plugin-video-record-preview.git</repo>
    <keywords>video, record, preview, ios</keywords>
    <license>Apache 2.0</license>

    <author>AnH724</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/VideoRecordPreviewPlugin.js" name="VideoRecordPreviewPlugin">
        <clobbers target="plugin.videorecordpreview" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoRecPreview">
                <param name="ios-package" value="VideoRecPreview" onload="true" />
		<param name="onload" value="true" />
            </feature>
        </config-file>

	<!-- plugin header and source files -->
        <header-file src="src/ios/VideoRecPreview.h" />
        <source-file src="src/ios/VideoRecPreview.m" />

	<!-- App -->
	<header-file src="src/ios/App/PBJFocusView.h" />
        <source-file src="src/ios/App/PBJFocusView.m" />
	<header-file src="src/ios/App/PBJStrobeView.h" />
        <source-file src="src/ios/App/PBJStrobeView.m" />
	<header-file src="src/ios/App/PBJVideoPlayerController.h" />
        <source-file src="src/ios/App/PBJVideoPlayerController.m" />
	<header-file src="src/ios/App/PBJVideoView.h" />
        <source-file src="src/ios/App/PBJVideoView.m" />
	<header-file src="src/ios/App/PBJViewController.h" />
        <source-file src="src/ios/App/PBJViewController.m" />
	<header-file src="src/ios/App/PBJViewPlayer.h" />
        <source-file src="src/ios/App/PBJViewPlayer.m" />

	<!-- TYMProgressBarView -->
	<header-file src="src/ios/TYMProgressBarView/TYMProgressBarView.h" />
        <source-file src="src/ios/TYMProgressBarView/TYMProgressBarView.m" />

	<!-- Vision -->
	<header-file src="src/ios/Vision/PBJGLProgram.h" />
        <source-file src="src/ios/Vision/PBJGLProgram.m" />
	<header-file src="src/ios/Vision/PBJMediaWriter.h" />
        <source-file src="src/ios/Vision/PBJMediaWriter.m" />
	<header-file src="src/ios/Vision/PBJVision.h" />
        <source-file src="src/ios/Vision/PBJVision.m" />
	<header-file src="src/ios/Vision/PBJVisionUtilities.h" />
        <source-file src="src/ios/Vision/PBJVisionUtilities.m" />

	<!-- Resource files -->
	<resource-file src="src/ios/Resources/video_sprites_Close.png" />
	<resource-file src="src/ios/Resources/video_sprites_Focus inactive.png" />
	<resource-file src="src/ios/Resources/video_sprites_Focus.png" />
	<resource-file src="src/ios/Resources/video_sprites_inactive.png" />
	<resource-file src="src/ios/Resources/video_sprites_Next.png" />
	<resource-file src="src/ios/Resources/video_sprites_Record active.png" />
	<resource-file src="src/ios/Resources/video_sprites_record inactive.png" />
	<resource-file src="src/ios/Resources/video_sprites_revert inactive.png" />
	<resource-file src="src/ios/Resources/video_sprites_revert.png" />
	<resource-file src="src/ios/Resources/capture_focus@2x.png" />
	<resource-file src="src/ios/Resources/capture_focus_button_active@2x.png" />
	<resource-file src="src/ios/Resources/capture_rec_base@2x.png" />
	<resource-file src="src/ios/Resources/capture_rec_blink@2x.png" />
	<resource-file src="src/ios/Resources/capture_rec_off@2x.png" />
	       	
	<!-- system frameworks -->
	<framework src="CoreVideo.framework" weak="true" />
	<framework src="OpenGLES.framework" weak="true" />
	<framework src="ImageIO.framework" weak="true" />
	<framework src="GLKit.framework" weak="true" />
	<framework src="AVFoundation.framework" weak="true" />
	<framework src="Foundation.framework" weak="true" />
    </platform>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/videorecplugin/VideoRecPreview.java" target-dir="src/com/phonegap/videorecplugin" />
        
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="VideoRecPreview">
			   <param name="android-package" value="com.phonegap.videorecplugin.VideoRecPreview" />
			</feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
	        <activity
	                android:name="com.phonegap.videorecplugin.VideoRecord"
	                android:configChanges="keyboardHidden|orientation|screenSize"
	                android:theme="@android:style/Theme.Black.NoTitleBar">
	        </activity>
	        <activity
	                android:name="com.phonegap.videorecplugin.VideoPreview"
	                android:configChanges="keyboardHidden|orientation|screenSize"
	                android:theme="@android:style/Theme.Black.NoTitleBar">
	        </activity>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="application">
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/libs/javacpp.jar" target-dir="libs"/>
        <source-file src="src/android/libs/javacv.jar" target-dir="libs"/>
        <source-file src="src/android/libs/android-support-v4.jar" target-dir="libs"/>
        <source-file src="src/android/libs/armeabi" target-dir="libs/armeabi" />
	
		
        <source-file src="src/android/res/anim/focus_scale.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/drawable-hdpi/capture_focus_button_active2x.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/capture_focus2x.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/capture_rec_base2x.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/capture_rec_blink2x.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/capture_rec_off2x.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/custom_progressbar.xml" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_close.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_focus.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_focus_inactive.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_inactive.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_next.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_record_active.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_record_inactive.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_revert.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/drawable-hdpi/video_sprites_revert_inactive.png" target-dir="res/drawable-hdpi"/>
        <source-file src="src/android/res/layout/videopreview.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/videorecord.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout-land/videopreview.xml" target-dir="res/layout-land"/>
        <source-file src="src/android/res/layout-land/videorecord.xml" target-dir="res/layout-land"/>
        <source-file src="src/android/res/values/color.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/styles.xml" target-dir="res/values"/>
        <source-file src="src/android/res/xml/config.xml" target-dir="res/xml"/>

    </platform>
</plugin>
